$sans: "Helvetica", "Arial", sans-serif;
$mono: "Menlo", "Consolas", monospace;
$header-title-font-family: "Helvetica", "Arial", sans-serif;
$header-subtitle-font-family: "Helvetica", "Arial", sans-serif;
$heading-font-family: "Helvetica", "Arial", sans-serif;
